footer {
  @include set-dimensions(100%, auto);

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
footer > span {
  padding: 0.7em;
  color: $color;
  font-size: 0.8em;
  text-decoration: underline;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
}
