main {
  @include set-dimensions(50%, auto);

  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

main > img {
  @include set-dimensions(50%, auto);
  margin: 1em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
main hr {
  @include set-dimensions(75%, 7px);

  background: $color-secondary;
  border-radius: 5px;
  border: none;
}

main .logos {
  @include set-dimensions(100%, auto);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.logos > img {
  @include set-dimensions(5em, 5em);

  object-fit: cover;

  margin: 0.5em;
  background: $color;
  border: 1px solid $color-secondary;
  border-radius: 100%;
  opacity: 0.7;
}
.logos > img:hover {
  opacity: 1;
}
